{% extends "index.html" %}

{% block content %}



    <!-- ABOUT          -->
    <section id="aboutUs">
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <h1>ВНИМАНИЕ, РОДИТЕЛИ ! </h1>
                    <p>24 февраля 2015 года в 18:00 в кабинете №2 будет родительское собрание.
                    Тема "подготовка к весенним каникулам". </p>

                    <p>Внимание! просьба до 16 марта 2015 года сдать деньги на питание</p>

                    <p><a href="">Смотреть все новости ...</a></p>

                </div>
            </div>
        </div>
    </section>

    <!-- OUR TEACHER-->
    <section class="aboutTeacher">

        <div class="row">
            <div class="col-md-4 bigFacePhoto">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQsK1WIN1-F_Jo5HShGCZVmbr0sUClIl4qJsn-H5ulKR2jH8CEAHA"
                     alt=""/>
            </div>
            <div class="col-md-8">
                <div class="row header">
                    <div class="col-md-8"><h2>/Фамилия/ Наталья Александровна</h2></div>
                    <div class="col-md-4"><h1 class="text-right orange"><span class="right">НАШ УЧИТЕЛЬ</span></h1></div>
                </div>
                <div class="row">
                    <div class="col-md-8 content">
                        <ul>
                            <li>Сертифицированный педагог начальных классов</li>
                            <li>Профессиональный преподаватель</li>
                            <li>Классный руководитель</li>
                            <li>Общий стаж работы преподавателем > 10 лет</li>
                            <li>Более 300 выпускников младшей школы</li>
                        </ul>
                    </div>
                    <div class="col-md-4 breef">
                        <br/>
                        <p class="note">ВЫПУСКНИКОВ</p>
                        <p> <span class="big orange"> >300</span></p>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-md-5">


            </div>
            <div class="col-md-3 text-center">


            </div>
        </div>
    </section>

    <!-- QUOTE  -->
    <div class="row quote text-center">
        <div class="container">
            <h2>Случайная цитата... </h2>
           <span class="quoteText"><p class="text-left"><i class="fa fa-quote-left fa-2x"></i>
               У всякого человека бывает два воспитания: одно, которое ему дают другие, и другое,
               более важное, которое он даёт себе сам...</p></span>
            <p class="text-right owner">Эдуард Ги66он</p>
        </div>

    </div>

    <!--OUR CLASS-->

    <div class="row ourClass">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <h1>Наши ребята </h1>

            {% for child in children %}
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img class="face" src="{{ child.image.url }}" alt="...">
                        <div class="caption">
                            <h3 class="orange">{{ child.name }}</h3>
                            <p class="autograph"><i><i class="fa fa-quote-left"></i>
                                {{ child.intro }}</i></p>
                            <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}
