a {
    color: #333;
}
a:hover {
    color: #e1704b;
    text-decoration: none;
    transition: color .15s linear;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: initial;
}

.orange {
    color:  #e1704b;
}

@font-face {
    font-family: bickham; /* Имя шрифта */
    src: url('fonts/Bickham_Script_One.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: dseraser; /* Имя шрифта */
    src: url('fonts/dseraser.TTF'); /* Путь к файлу со шрифтом */
}

/*==========================*/

header {
    padding: 50px 0;
}

.top {
    background: #fff;
}
header #intro {
    margin-top: -37px;
}
header h1.header-text{
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.05em;
    font-weight: bold;
}

header h1.header-text span {
    font-weight: 100 !important;
    font-family: sans-serif;
    letter-spacing: 11px;
    color: #999999;
    font-size: .4em;
    display: inline-block;
    padding-bottom: 20px;
}

header div.logo img {
    width: 80px;
}

header img#ava{
    width: 60px;
    margin-right: -15px;
}



/* NAVIGATION */

div#nav {
    background: #eee;
}

nav {
    margin: 24px 0;
}
.nav_container {

}

nav a {

    font-weight: bold;
    text-transform: uppercase;
}


/*  ABOUT US     */

section#aboutUs div.row{
    background-image: url("http://www.supereightstudio.com/img/hero-office-08.jpg");
    height: 400px;

    background-position: 0 -12em;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 1.18em;
}

section div.about {
    margin: 50px 0 0 70px;
    width: 60%;
    height: 300px;
    background: rgba(225,112,75, 0.95);
    padding: 30px;
    color: rgb(250, 249, 233);;
    letter-spacing: 0.01em;
    font-size: 1.3em;
    border: 1px solid wheat;
}

/*  ABOUT  OUR TEACHER  */

.aboutTeacher .bigFacePhoto img{
    width: 300px;
    height: 300px;
    border-radius: 120%;
    border: 10px solid #a9a9a9;
}

.aboutTeacher .big {
    font-size: 6em;
    font-family: serif;
    font-weight: bolder;
    display: block;
    margin-top: -10px;
}
.aboutTeacher .note{
    letter-spacing: 0.03em;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #a9a9a9;
    display: block;
    margin-top: 10px;
}


/* QUOTE    */

div.quote {
    background: #39a9a4;
}

.quote div.container {
    width: 60%;
    margin: 30px auto;
    color: #fff;
}

.quote h2 {
    font-weight: bolder;
}

.quote .quoteText {
    font-style: italic;
    font-size: 1.3em;
    color: blanchedalmond;
}

.quote .owner {
    font-family: bickham;
    padding-right: 80px;
    font-size: 4em;
    color: rgb(114, 84, 84);
    background: url('http://zombicity.info/zombie-farm/ZombiFermaMania/Kollekciya/Adskaja/pero-adskaja-collection-zombi-ferma-farm.png') no-repeat 630px -40px;
}

/* OUR CLASS */

.ourClass {
    background: url('http://www.weltrade.ru/local/templates/weltrade.main/images/wt-dark-block-bg.jpg') center top repeat;
}
.ourClass h1 {
    font-weight: bolder;
    margin: 50px;
}
.ourClass .thumbnail {
    border: none;
    background: none;
}
.ourClass .thumbnail h3{
    font-family: -webkit-body;
    color: #BD431B;

}
.ourClass .thumbnail .autograph {
    color: rgb(117, 109, 109);
    font-family: dseraser;
}
.ourClass .thumbnail .autograph .fa {
    color: rgb(201, 196, 196);
}

.ourClass img.face {
    width: 200px;
    border-radius: 120%;
    border: 10px solid #a9a9a9;
    opacity: 0.9;
    transition: opacity .15s linear;
}

.ourClass .face:hover {
    opacity: 1;
    transition: opacity .15s linear;
}

