{% extends "index.html" %}

{% block content %}

    <!-- NAVIGATION     -->

    <div class="row" id="nav">
        <div class="col-md-12">
            <div class="nav_container text-right">
                <nav>
                    <ul class="list-inline">
                        <li><a href="/">События и новости</a></li>
                        <li><a href="/">Домашнее задание</a></li>
                        <li><a href="/">Расписание</a></li>
                        <li><a href="/">Методический материалл</a></li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>

    <!-- ABOUT          -->
    <section id="aboutUs">
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <h1>МЫ УЧИМСЯ ЧТОБЫ ЖИТЬ</h1>
                    <p>Мы - ребята 2а класса школы № 178. Каждый день мы ходим в школу чтобы получать новые
                        знания и навыки. Мы стараемся, чтобы стать достойными членами нашего общества и гражданами
                        нашей великой страны России !</p>

                    <p>На этом сайте мы расскажем вам о нашей учебе и досуге. Чему мы обучаемся в школе. Расскажем о
                        главных событиях нашего класса.</p>
                    <p>Итак, вперед... !</p>

                </div>
            </div>
        </div>
    </section>

    <!-- OUR TEACHER-->
    <section class="aboutTeacher">
        <div class="row">
            <h1 class="text-right orange"><span class="right">НАШ УЧИТЕЛЬ</span></h1>
        </div>
        <div class="row">
            <div class="col-md-4 bigFacePhoto">
                <img src="http://картинки.cc/img/4/7/0/%D0%90%D0%BA%D1%82%D1%91%D1%80,%20%D0%B4%D0%B6%D0%B5%D1%80%D0%B0%D1%80%D0%B4%20%D0%B1%D0%B0%D1%82%D0%BB%D0%B5%D1%80,%20gerard%20butler,%20%D0%BF%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82,%20%D0%BB%D0%B8%D1%86%D0%BE,%20%D0%B3%D0%BB%D0%B0%D0%B7%D0%B0,%20%D0%B2%D0%B7%D0%B3%D0%BB%D1%8F%D0%B4,%20%D1%89%D0%B5%D1%82%D0%B8%D0%BD%D0%B0,%20%D1%84%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F,%20%D1%87%D0%B5%D1%80%D0%BD%D0%BE-%D0%B1%D0%B5%D0%BB%D0%B0%D1%8F,%20%D0%BC%D0%BE%D0%BD%D0%BE%D1%85%D1%80%D0%BE%D0%BC,%201600x1200.jpg"
                     alt=""/>
            </div>
            <div class="col-md-5">
                <h2>Иванова Лариса Александровна</h2>
                <p>Сертифицированный педагог начальных классов</p>
                <p>Профессиональный преподаватель</p>
                <p>Классный руководитель</p>
                <p>Общий стаж работы преподавателем > 10 лет</p>
                <p>Более 300 выпускников младшей школы</p>

            </div>
            <div class="col-md-3 text-center">
                <br/>
                <p class="note">ВЫПУСКНИКОВ</p>
                <p> <span class="big orange"> >300</span></p>

            </div>
        </div>
    </section>

    <!-- QUOTE  -->
    <div class="row quote text-center">
        <div class="container">
            <h2>Случайная цитата... </h2>
           <span class="quoteText"><p class="text-left"><i class="fa fa-quote-left fa-2x"></i>
                У всякого человека бывает два воспитания: одно, которое ему дают другие, и другое,
               более важное, которое он даёт себе сам...</p></span>
            <p class="text-right owner">Эдуард Ги66он</p>
        </div>

    </div>

     <!--OUR CLASS-->

    <div class="row ourClass">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <h1>Наши ребята </h1>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i><i class="fa fa-quote-left"></i> Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Очень люблю сладости и мороженое...</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img class="face" src="https://lh4.googleusercontent.com/HrEWti86WmH9Y4nH1se8Pt6kO1v5gObGhLvRcr7GE7E=w563-h566-no" alt="...">
                    <div class="caption">
                        <h3 class="orange">Боровиков Саша</h3>
                        <p class="autograph"><i>Любля девочек и прыгать на переменах :)</i></p>
                        <!--<p><a href="#" class="btn btn-primary" role="button">Кнопка</a> <a href="#" class="btn btn-default" role="button">Кнопка</a></p>-->
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}
